body{
  line-height: 1rem !important;
}
.time-lable{
  height: 15px;
  background-color: #aaa;
}

.schedule-button{
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
}

.reschedule-button{
  z-index: 10;
  position: absolute;
  height: 40px;
}

.delete-button{
  z-index: 10;
  margin-top:40px;
  position: absolute;
  height: 40px;
}

.schedule-reservation-button{
  z-index: 10;
  position: absolute;
  height: 40px;
}

.col{
  padding: 0;
  margin: 0;
}

.time-row{
  border-bottom: 1px solid #333;
}

.dropdown-content{
  display: none;
  float: left;
}

.res-button{
  background-color: #759aab;
  height: 20px;
  position: absolute;
  border-bottom-width: 0;
  /* margin-bottom: -100px; */
  
 
}

.available-button{
  background-color: #a1c084;
  height: 15px;
  font-size: 0;
  
 
}

.unavailable-button{
  background-color: #8a3033;
  height: 15px;
  font-size: 0;
  
}

th td{
  width:60px;
}