@media print{
  @page {size: landscape}

}

div {
  -webkit-appearance: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: white;
  }

body{
  line-height: 1rem !important;
}

.table-capacity{
  font-size: small;
  font-weight: normal;
}
.time-lable{
  height: 15px;
  background-color: #aaa;
}

.dropdown-button{
  z-index: 10;
  position: absolute;
  height: 40px;
  width: 100px;
}
/* .reschedule-button, .delete-button, .details-button, .schedule-reservation-button {
  
} */

.delete-button{
  margin-top:80px;
}

.details-button{
  margin-top:40px;
}

.col{
  padding: 0;
  margin: 0;
}

.time-row{
  border-bottom: 1px solid #333;
}

.dropdown-content{
  display: none;
  float: left;
}

.schedule-button{
  width: 100%;
  padding: 0;
  margin: 0;
  display: block;
  float: left;
  height: 17px;
  font-size: small;
}

.schedule-button p{
  padding-bottom: 2px;
}

.res-button{
  background-color: #759aab;
}

.res-button-text{
  padding-bottom: 5px;
}

.available-button{
  background-color: #a1c084;
  font-size: 0;
  
 
}

.unavailable-button{
  background-color: #8a3033;
  font-size: 0;
  
}

th td{
  width:60px;
}

#reschedule-div{
  display: none;
}

.cancel-reschedule-button{
  z-index: 10;
  display: inline-block;
}

.pop-up{
  position: fixed;
  left: 30%;
  top: 250px;
  display: none;
  z-index: 11;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.modal{
  position: fixed;
  left: 30%;
  top: 250px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.escape{
  float: right;
}

#details-pop-up{
  line-height: 1.5;
}